/* Float the image next to the text on tooltips */

.tooltip_text {
 float: left;
}

.tooltip_img {
 float: left;
 padding-right: 7px;
 height: 130px;
}

p {
  color: gray;
}

.fa-linkedin {
  color: #8fd6bd;
}

.fa-info-circle{
  color: #8fd6bd;
}

/* To remove the border and shadow for well panel */
#transparent{
 background-color: transparent;
 border: transparent;
 border-radius: 0px;
  -webkit-box-shadow: inset 0 0 0 0;
box-shadow: inset 0 0 0 0
}