
/* Style the download button */
.shiny-download-link, .dlButton {
  display: block;
  color: Black;
  background-color: #8fd6bd;;
  width: 100px;
  margin: 0 auto 0 auto;
  text-align: center;
  opacity: 1;
}

#downloadReport {
  color: Black;
}

/* Change icon colour */
.fa-th-large {
  color: Pink;
  margin: auto;
}

.fa-linkedin {
  color: #8fd6bd;
}

.fa-download{
  color: Black;
  margin: auto;
}

.fa-download:hover{
  color: Orange;
}

.fa-flag {
  color: Red;
}

/* Align the image on the same line */
#image_flag {
  display: inline;
  padding: 5px;
}

/* Make the infoBox smaller */
.info-box {
    display: block;
    min-height: 60px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin-bottom: 15px
}

.bg-blue {
  background-color: #9bcfe4 !important;
}

.bg-green {
  background-color: #8fd6bd !important;
}

.info-box-icon {
    border-radius: 1px 0 0 1px;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, .2)
}

.info-box-content {
    padding: 5px 5px;
    margin-left: 60px
}

.info-box-number {
    display: block;
    font-weight: 600;
    font-size: 15px
}

.info-box-text, .progress-description {
    display: block;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

p {
  color: gray;
}

/* This is the active sidebar selection */
.treeview .active {
    background-color: #8fd6bd;;
}

/* The nav = top */
.skin-purple .main-header .navbar .sidebar-toggle:hover {
    color: #8fd6bd;
    background: white;
}

/* this is the sidebar list color */
.skin-purple .sidebar-menu>li.active>a, .skin-purple .sidebar-menu>li:hover>a {
    color: #fff;
    background: #9bcfe4;
    border-left-color: #25a8a2
}

.skin-purple .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #9bcfe4;
}

/* the sidebar list color */
.skin-purple .sidebar a {
    color: #ce2d2d;
}

/* The tree color */
.skin-purple .treeview-menu>li>a {
    color: white;
}

.skin-purple .treeview-menu>li.active>a, .skin-purple .treeview-menu>li>a:hover {
    color: #ce2d2d;
}

.skin-purple .main-header .navbar {
  background-color: #8fd6bd;
}

.skin-purple .main-header .logo {
    background-color: #8fd6bd;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-purple .main-header .logo:hover {
    color: #8fd6bd;
    background: white;
}

.main-sidebar {
  background-color: white !important;
}

.sidebar{
  background-color: white;
  color: #8fd6bd;
}

/* Tab top border color */
.nav-tabs-custom>.nav-tabs>li.active {
 border-top-color: #8fd6bd;
}

